/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h3{
    font-size: 18px;
}

/****** Barre de Navigation ******/

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    height: 79px;
    margin: 0px 0px 30px 0px;
}

.img-logo{
    display: flex;
    align-items: center;
    width: 161.09px;
    height: 79px;
    box-sizing: border-box;
}

.logo{
    max-width: 61.09px;
    height: 19px;
}

.zone-menu{
    display: flex;
    align-items: start;
}

.liste-menu{
    display: flex;
    gap: 68px;
    list-style: none;
    margin: 0px;
    height: 35px;
    align-self: flex-start;
}

.liste-menu li{
    display: flex;
    align-items: end;
    border-top: 1px solid transparent;
}

.liste-menu li:hover{
    color: #0065FC;
    border-color: #0065FC;
}

/*** Headline ***/

.headline h1{
    font-size: 22px;
    margin: 0px;
}

.headline p{
    margin: 8px 0px 35px;
}

/*** Formulaires ***/

.form-localisation{
    display: flex;
    margin: 0px 0px 35px;
    max-width: 377px;
    width: 100%;
    
}

.icone-search{
    display: block;
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
}

.fa-location-dot{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 18px;
    color: black;
}

input{
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    outline: none;
    padding: 0px 24px 0px 24px;
    width: 147px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#search{
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    height: 49px;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #0065FC;
}

/*** Filtres et Info Barre***/

.filters{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 15px;
    margin: 0px 0px 35px 0px;
}

.block-button{
    display: flex;
    gap: 15px;
}

.button-filters{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 17px;
    font-weight: bold;
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    gap: 10px;
    padding: 4px 19px;
    height: 50px;
}

.button-filters:hover{
    background-color: #DEEBFF;
}

.button-filters .fa-solid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
}

.infobar{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 35px;
}

.fa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

.infobar p{
    margin: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
}

.hebergements h2{
    font-size: 22px;
    margin: 0 0 30px;
}


.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.hebergements-cards a{
    display: block;
    width: calc((100% - 60px) / 3);
    box-sizing: border-box;
}

.hebergements-cards .card{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 5px 5px 15px 5px;
}

.card img{
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.card-content{
    padding: 0 10px 0 10px;
}

.card-txt{
    margin-bottom: 8px;
}

.card-txt h3{
    margin: 4px 0 0 0;
}

.card-txt p{
    margin: 8px 0 0;
}

.hebergements h3{
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*** Activités à Marseille ***/

.activites{
    margin-bottom: 100px;
    padding: 0 30px 30px 30px;
}

.activites h2{
    margin: 0 0 30px 0;
    padding-top: 30px;
    font-size: 22px;
    font-weight: bold;
}

.activites-cards{
    display: flex;
    justify-content: space-between;
}

.activites-cards a{
    display: block;
    width: calc((100% - 90px) / 4);
    display: flex;
}

.activites-cards .card{
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.activites-cards img{
    height: 380px;
}

.activites-cards h3{
    font-size: 16px;
    margin: 0;
    padding: 15px 19px 20px 19px;
}

/*** Footer ***/

.zone-footer{
    display: flex;
    background-color: #F2F2F2;
    height: 163px;
}

.content-footer{
    width: 34%;
    padding: 20px;
    box-sizing: border-box;
}

.content-footer h3{
    margin: 0;
}

.liste-footer{
    display: flex;
    flex-direction: column;
    margin: 15px 0 0;
    gap: 15px;
    list-style: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filters{
        flex-direction: column;
        align-items: start;
        gap: 0;
    }

    .filters h3{
        margin-bottom: 20px;
        margin-top: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img{
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}